.content {
	background-color: rgba(255, 255, 255, 0.3);
	margin: 5% 10% 1.5% 13%;
	margin-top: 5vh;
	padding: 3% 0 2% 6%;
	display: block;
	border: 0.3vh solid #ffcf99;
}

.content img {
	width: 90% !important;
	display: block;
}

.mySlides {
	display: none;
}

.butonrosu {
	display: inline-block;
	margin: 2% 1% 0 14% ;
	background-color: #ffcf99;
	font-size: 2vh;
	border-width: 0;
	color: black;
	padding: 1% 6% 1% 6%;
	transition: 0.3s;
}

.butonrosu:hover {
	font-size: 2.5vh;
}
