body {
	background-color: black;
}

.titlu {
	font-size: 4vh !important;
	font-weight: 1000;
	text-shadow: 0 0 0.5vh black;
	color: white;
	margin-bottom: 13vh;
}

#stopdrog table {
	margin-top: 5vh;
}

.activitate {
	height: 12vh;
	margin-left: 5%;
	background-color: white;
	color: #990000;
	margin-bottom: 4vh;
	font-size: 3vh;
	font-weight: 1000;
	text-align: center;
	border-radius: 0.7vh;
	border: 0.2vh solid red;
	box-shadow: 0 0 2vh #990000;
	cursor: pointer;
	width: 90%;
	transition: 0.5s;
	padding: 3vh 1vh 1vh 1vh;
}

.activitate:hover {
	padding-top: 4vh;
	font-size: 3.3vh;
	transition: 0.5s;
	height: 14vh;
	margin-left: 2.5%;
	width: 95%;
}
