table {
	margin-top: 2vh;
	width: 100%;
	height: auto;
	font-size: 3vh;
	border-collapse: collapse;
	vertical-align: middle;
}

#suntemaltfel table {
	margin-top: 5vh;
	margin-left: 3vh;
}

#suntemaltfel table td {
	padding: 1vh 0 1vh 2vh;
}

#suntemaltfel table img {
	margin-top: 2vh;
	box-shadow: 0 0 2vh black;
	border-radius: 2%;
}

.formula_cocaina table img{
	margin-top: 2vh;
	box-shadow: 0 0 2vh block;
	border-radius: 2%;
}

#suntemaltfel .ascunde {
	background-color: rgba(0,0,0,0);
}

.formula {
	width: 80% ;
}

tr, td {
	padding: 1vh 0 1vh 2vh;
	width: 100%;
}

li {
	margin-top: 1vh;
	list-style-type: circle;
}



.arata td {
	border: 0.1vh solid #ffe6e6;
	border-left: 0.3vh solid #ffe6e6;
	background-color: #ff1a1a;
	padding-left: 1vh;
	height: 5vh;
	color: #ffe6e6;
}
.arata td:hover {
	transition: 0.4s;
	padding-left: 3vh;
	font-style: italic;
	cursor: pointer;
}

.ascunde {
	display: none;
	background-color: #ffe6e6;
	color: #660000;
}