.block1 {
	display: block;
	text-align: center;
	margin: 3vh 0 0 30%;
	width: 35vh;
	transition: 0.5s;
	cursor: pointer;
}

.block1:hover {
	width: 42vh;
}

.block1 img {
	display: block;
	max-width: 80%;	
	margin-left: 10%;
}

.block1 text {
	display: block;
	font-size: 3vh;
	color: #ffdbb3;
	margin-top: 5%;
}

#stiatica li{
	margin-top: 2vh;
	list-style: none !important;
	border-radius: 2%;
	background-color: #ffcccc;
}

#stiatica li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  	color: red; /* Change the color */
  	font-weight: bold; /* If you want it to be bold */
  	display: inline-block; /* Needed to add space between the bullet and the text */ 
  	width: 1em; /* Also needed for space (tweak if needed) */
  	margin-left: -1em; /* Also needed for space (tweak if needed) */

}

#stiatica .para {
	padding: 1vh 2vh 2vh 5vh !important;
}