.block1 {
	display: block;
	text-align: center;
	margin: 3vh 0 0 30%;
	width: 35vh;
	transition: 0.5s;
	cursor: pointer;
}

.block1:hover {
	width: 42vh;
}

.block1 img {
	display: block;
	max-width: 80%;	
	margin-left: 10%;
}

.block1 text {
	display: block;
	font-size: 3vh;
	color: #ffdbb3;
	margin-top: 5%;
}