#meniu {
  background: #ffcccc;//ffaa00;//  `#e6b800;
  height: 5vw;
  width: 5vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  //overflow: hidden;
  cursor: pointer;
  visibility: visible;
  z-index: 100;
  box-shadow: 0px 0px 10px;
}

#meniu img{
  width: 100%;
  display: block;
  opacity: 0.7;
}
#meniu text {
  font-size: 30px;
  color: #fff;
  display: block;
  margin-top: 30px;
}

.selector {
  z-index:1000;
  fill:rgba(0,0,0,0);
}

.selector:hover {
  fill:rgba(255,255,255,0.2) !important;
  stroke-width:15px ;
  cursor: pointer ;
}

svg {
 //background-color: #000;
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  left: 0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 10;
  visibility: hidden;
}

svg path {
  stroke-width: 5px;
}

svg text {
  fill-opacity:1;
  pointer-events:none;
  font-size: 50px;
  fill: white;
}


#OuterCircle {
  //fill: #ffbe73;//b36800;
  stroke: white;
  stroke-width: 5;
  z-index: 10000 ;
  opacity: 1;
}

#InnerCircle {
  stroke: white;
  stroke-width:5;
 fill:rgba(0,0,0,0);
}

#Principala11 {
  stroke:url(#lp);
}

#Principala21 {
  stroke:url(#lh);
}

#stopdrog1 {
  stroke:url(#ls);
}

#suntemaltfel1 {
  stroke:url(#lr)
}

#stiatica1 {
  stroke:url(#le);
}

#traficanti1 {
  stroke:url(#lg);
}

/* Stopdrog*/
body {
	background-color: #ff3300;
}

.titlu {
	font-size: 4vh !important;
	font-weight: 1000;
	text-shadow: 0 0 0.5vh black;
	color: white;
	margin-bottom: 13vh;
}

#stopdrog table {
	margin-top: 5vh;
}

.activitate {
	height: 12vh;
	margin-left: 5%;
	background-color: white;
	color: #990000;
	margin-bottom: 4vh;
	font-size: 3vh;
	font-weight: 1000;
	text-align: center;
	border-radius: 0.7vh;
	border: 0.2vh solid red;
	box-shadow: 0 0 2vh #990000;
	cursor: pointer;
	width: 90%;
	transition: 0.5s;
	padding: 3vh 1vh 1vh 1vh;
}

.activitate:hover {
	padding-top: 4vh;
	font-size: 3.3vh;
	transition: 0.5s;
	height: 14vh;
	margin-left: 2.5%;
	width: 95%;
}
/* traficanti */
.block1 {
	display: inline-block;
	text-align: center;
	margin: 0vh 0 0 0%;
	width: 13vw;
	transition: 0.5s;
	cursor: pointer;
}

//#miruna {
//	margin-left: 8vw;
//	display: block;
//}

.block1:hover {
	width: 15vw;
}

.block1 img {
	display: block;
	max-width: 80%;	
	margin-left: 10%;
	border-radius: 2%;
	border: 2px solid #cc0000 !important;
	box-shadow: 0 0 1vh black;
}

.block1 text {
	display: block;
	font-size: 3vh;
	color: #ffdbb3;
	margin-top: 5%;
}

.email {
	font-size: 1.6vh !important;
}

#traficanti h1 {
	margin-top: 5vh !important;
}

#stiatica li, .ac li, #traficanti li{
	margin-top: 2vh;
	//margin-left: 1vh;
	list-style: none !important;
	border-radius: 2%;
	background-color: #ffcccc;
}

#stiatica li::before, .ac li::before, #traficanti li::before{
	content: "\2022"; 
  	color: red; 
  	font-weight: bold;
  	display: inline-block; 
  	width: 1em;
  	margin-left: -1em; 


}

iframe {
	margin-top: 5vh !important;
	margin-left: 8.5vh !important;
	width: 80%;
	height: 37vh;
}

#stiatica .para, .ac .para, #traficanti .para{
	padding: 2vh 2vh 2vh 5vh !important;
}



/* stanga si dreapta*/
.j {
	height: 100%;
	width: 50%;
	position: fixed; 
	z-index: 1;
	overflow-x: hidden;
}

.stanga {
	left: 0;
	top: 0;
	border-right: 0.5px solid black;
}

.dreapta { 
	right: 0;
	top: 0; 
}

#Principala1 li {
	list-style-type: none;
}

h1 {
	color: white;
	font-size: 5vh;
}

p {
	text-indent: 5vh;
	padding: 1vh;
}

.stanga .centered {
	padding: 10vh 10vh 0 5vh;
}

#Principala1 .centered, #stiatica .centered {
	padding-top: 3vh;
}

#suntemaltfel .centered {
	padding: 4vw 3vw 0vw 2vw;
}

#stopdrog .centered {
	padding-top: 5vh;
}

.dreapta .centered {
	padding: 6vw 4vh 0 4vw;
}

.ac .centered {
	padding-top: 5vh;
}

.block {
	display: inline-block;
	text-align: center;
	margin: 0.5vw;
	width: 18vw;
	transition: 0.5s;
	cursor: pointer;
}

.block:hover {
	width: 20vw;
}

.block img {
	display: block;
	max-width: 80%;	
	margin-left: 10%;
	border-radius: 1%;
	box-shadow: 0 0 3vh #660000;
}

.block text {
	font-size: 1.8vw;
	color: #ffdbb3;
	margin-top: 10%;
}

.para
{
	width: 100%;
	background-color: white;// #ffe6e6;
	height: auto;
	border-radius: 1%;
	font-size: 3vh; 
	box-shadow: 0 0  1vh #990000;
	color: #990000 !important;
	margin: 3vh 0 3vh 0;
	padding: 2vh 2vh 2vh 2vh;
}

.ac .para {
	margin-top: 0 !important;
}

#Marijuana, #Cocaina, #mdma, #lsd, #hero, #amfet, #suntemaltfel, #traficanti, #stiatica, #stopdrog, #activitatea1, #activitatea2, #activitatea3 {
display: none;
}


::-webkit-scrollbar
{
  width: 0.5vh;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{

  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

b {
	font-weight: bold !important;
}

#denumire {
	margin-top: 5vh;
	padding-top: 9vh;
	background-color: #cc0000;
	width: 100%;
	height: 45vh;
	color: white;
	font-size: 12vh;
	font-weight: 1000;
	text-align: center;
	box-shadow: 0 0 5vh #ff6666;
}

#denumire text {
	text-align: center;
	text-shadow: -0.5vh -0.5vh 1vh black;
}

span {
	 background-color: #ffcccc;
}
.tit {
	box-shadow: 0 0 2vh #ff6666;
	width: 100%;
	margin: 10vh 0 0 0;
	padding-top: 1.6vh;
	text-align: center;
	background-color: #cc0000;
	height: 8vh;
}

a {
	display: block;
	margin: 5vh 0 10vh 10vh!important;
	color: white;	
	font-size: 3vh !important;
}